@import url('normalize.css');
@font-face {
  font-family: 'sourcesanspro';
  src: url('../font/sourcesanspro.woff2') format('woff2'), url('../font/sourcesanspro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
::selection {
  color: #FFFFFF;
  background-color: red;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}
body {
  margin: 0;
  color: #34495e;
  font-size: 15px;
  line-height: 1.6;
  background-color: #fff;
  font-family: 'sourcesanspro', 'Helvetica Neue', Arial, sans-serif;
}
ul.nav,
ul.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul {
  margin: 1rem 0;
}
a,
a:active {
  color: #2c3e50;
  text-decoration: none;
}
a.nav-list-link.active,
a.nav-list-link:hover,
a.post-title-link:hover {
  border-bottom: 2px solid red;
}
hr {
  border: 0;
}
code {
  margin: 0 3px;
  padding: 3px 5px;
  color: #e96900;
  border-radius: 2px;
  white-space: inherit;
}
iframe,
video {
  max-width: 100%;
  margin: 1rem auto;
  display: block;
}
table {
  width: 100%;
  margin: 1em auto;
}
table thead {
  background-color: #ddd;
}
table thead th {
  padding: 5px;
  min-width: 20px;
}
table tbody tr:nth-child(2n) {
  background-color: #eee;
}
table tbody td {
  padding: 5px;
  vertical-align: text-top;
}
.home.post-list {
  margin: 2em 0;
}
.home.post-list .post-list-item {
  padding: 1em 0 2em;
  border-bottom: 1px solid #ddd;
}
.home.post-list .post-list-item:last-child {
  border-bottom: 0px;
}
.home.post-list .post-content h2:before,
.home.post-list .post-content h3:before,
.home.post-list .post-content h4:before,
.home.post-list .post-content h5:before,
.home.post-list .post-content h6:before {
  content: '';
}
.home.post-list .post-content > ul {
  list-style: initial;
}
.home.post-list .read-more {
  color: red;
}
main.container {
  margin: 2em 10px;
}
@media screen and (min-width: 700px) {
  .wrap {
    width: 700px;
    margin: 0 auto;
  }
  header {
    padding: 20px 100px;
  }
}
@media screen and (max-width: 700px) {
  .wrap {
    width: 100%;
  }
  header {
    padding: 20px 0;
  }
  header a.logo-link,
  header ul.nav.nav-list {
    float: none;
    display: block;
    text-align: center;
  }
  header li.nav-list-item {
    padding: 10px 10px;
  }
  main.container,
  .home.post-list,
  .archive {
    margin-top: 0;
  }
  .archive .post-item {
    padding-left: 20px;
  }
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    max-width: 300px;
    left: 15px;
  }
  .ds-thread,
  #disqus_thread {
    margin: 2em 10px;
  }
}
main.container {
  margin: 2em 10px;
}
.post {
  padding-top: 1em;
}
.post-block .post-title {
  margin: 1em 1em;
  color: #2c3e50;
  font-size: 1.5em;
}
.post-block .post-info {
  color: #7f8c8d;
  margin: 1.2em 0;
}
.post-block .post-info span {
  margin-left: 0.5rem;
}
.post-block .post-info a.post-from {
  margin-left: 0.5rem;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  background-color: #E36B6B;
}
.post-content {
  margin: 3em 3em;
}
.post-content h2,
.post-content h3 {
  position: relative;
  margin: 1em 0;
}
.post-content h2:before,
.post-content h3:before {
  content: "#";
  color: red;
  position: absolute;
  left: -0.7em;
  top: -4px;
  font-size: 1.2em;
  font-weight: bold;
}
.post-content h4:before,
.post-content h5:before,
.post-content h6:before {
  content: "";
}
.post-content a {
  color: red;
  word-break: break-all;
  font-weight: bold;
}
.post-content a:hover {
  border-bottom: 1px dashed red;
}
.post-content blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid red;
}
.post-content img {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}
.post-content > table,
.post-content > figure.highlight {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
}
.post-content .tip {
  position: relative;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #f8f8f8;
}
.post-content .tip br {
  display: none;
}
.post-content .tip:before {
  position: absolute;
  top: 14px;
  left: -12px;
  content: "!";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #f66;
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}
#mask {
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
#mask #mask-image {
  max-width: 95%;
}
code,
pre {
  line-height: 1.5em;
  font-size: 0.95em;
  background-color: #f8f8f8;
  font-family: consolas, 'Roboto Mono', Monaco, courier, monospace;
}
pre {
  padding-left: 1em;
}
::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
}
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  background-clip: padding-box;
  min-height: 28px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
